<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
		<meta name="apple-mobile-web-app-title" content="chess-game">
		<meta name="application-name" content="chess-game">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="theme-color" content="#ffffff">
		<title><%= title %> | Chess Game</title>
		<link rel="icon" type="image/ico" href="/images/chess_icon.ico" sizes="256x246">
		<link rel="apple-touch-icon" href="/images/chess_icon.ico" sizes="256x246">
		<link rel="shortcut icon" type="image/png" href="/images/chess_icon.png"/>
		<link rel="preload" as="image" href="/images/chess_icon.png">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div class="window-c">
			<div class="turn-window">
				<h1 id="turn-window-tt">Waiting...</h1>
			</div>
		</div>

		<div class="lc-close">
			<div class="lc-in" id="close-btn">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"/></svg>
			</div>
		</div>

		<div class="b-rm-p"></div>
		<div class="w-rm-p"></div>

		<div class="timer-pan">
			<h1 id="play-timer"></h1>
		</div>

		<div class="app-root" id="app-root"></div>

		<% if(type == "local") { %>
			<script defer src="/javascripts/chess.js"></script>
		<% } else if (type == "online") { %> 
			<script defer src="/javascripts/chess_online.js"></script>
		<% } %> 

	</body>
</html>
