<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
		<meta name="apple-mobile-web-app-title" content="chess-game">
		<meta name="application-name" content="chess-game">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="theme-color" content="#ffffff">
		<title><%= title %> | Error</title>
        <link rel="icon" type="image/ico" href="/images/chess_icon.ico" sizes="256x246">
		<link rel="apple-touch-icon" href="/images/chess_icon.ico" sizes="256x246">
		<link rel="shortcut icon" type="image/png" href="/images/chess_icon.png"/>
		<link rel="preload" as="image" href="/images/chess_icon.png">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
	</body>
</html>
