<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
		<meta name="apple-mobile-web-app-title" content="chess-game">
		<meta name="application-name" content="chess-game">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="theme-color" content="#ffffff">
		<title><%= title %> | Chess Game</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>

        <main class="home-main">
            <div class="main-btn">
                <div class="home-btn -top" id="solo">
                    <div class="btn-c">
                        <h1>Local</h1>
                        <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.163 4.516c.418.408 4.502 4.695 4.502 4.695a1.095 1.095 0 0 1 0 1.576s-4.084 4.289-4.502 4.695c-.418.408-1.17.436-1.615 0-.446-.434-.481-1.041 0-1.574L11.295 10 7.548 6.092c-.481-.533-.446-1.141 0-1.576.445-.436 1.197-.409 1.615 0z"/></svg></div>
                    </div>
                </div>
                <div class="home-btn -btm" id="online">
                    <div class="btn-c">
                        <h1>Online</h1>
                        <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.163 4.516c.418.408 4.502 4.695 4.502 4.695a1.095 1.095 0 0 1 0 1.576s-4.084 4.289-4.502 4.695c-.418.408-1.17.436-1.615 0-.446-.434-.481-1.041 0-1.574L11.295 10 7.548 6.092c-.481-.533-.446-1.141 0-1.576.445-.436 1.197-.409 1.615 0z"/></svg></div>
                    </div>
                </div>
            </div>
        </main>

		<script defer src="/javascripts/script.js"></script>
	</body>
</html>
